{
  "plugins": [],
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "env": {
    "browser": true
  },
  "rules": {
    "no-unused-vars": "error",
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      2,
      "single",
      "avoid-escape"
    ],
    "object-curly-spacing": [
      2,
      "never"
    ],
    "quote-props": [
      "error",
      "as-needed"
    ]
  }
}